<?xml version="1.0" encoding="utf-8" ?>﻿
<configuration>
  <configSections>
    <section name="intercom" type="Intercom.Core.Configuration.IntercomAccountRetrieverSection, Intercom.Core"/>
  </configSections>
  <intercom defaultAccount="default">
    <accounts>
      <add name="default" appid="dn4gzhun" apikey="b3db3b24a6904f471899bb826af0a326a4f72238" />
    </accounts>
  </intercom>
</configuration>
